<h1>Registered Users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= user.fname %>, 
      <%= user.lname %>, 
      <%= user.email %>, 
      <%= user.company %>, 
      <%= user.location %>, 
      <%= user.pong %>
    </li>
  <% end %>
</ul>