 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title>PingPong</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>pingpong</title>

<!-- SET: FAVICON -->
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
<!-- END: FAVICON -->

<!-- SET: STYLESHEET -->

<!-- END: STYLESHEET -->

<!-- SET: SCRIPTS -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	// Run the script on DOM ready:   
	$(function(){
		$('input').customInput();
	});
	</script>
<!-- END: SCRIPTS -->
<!--[if lt IE 8]>
<style type="text/css">
	.mark	{ padding:15px 0 40px 24px;}
	.register{ margin:20px 0 0 0;}
	.footer-in	{ padding-bottom:0px;}
    .container-inner{ padding-bottom:20px;}
</style>
<![endif]-->
</head>

<body>
<% flash.each do |key, value| %>
        <div class="notification_<%= key %>"><%= value %></div>
      <% end %>	
<%= yield %>
</body>
</html>
